input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

sup {
  display: inline;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

@media screen and (min-width: 1919px) {
  .d-xxl-inline {
    display:inline !important;
  }

  .d-xxl-block {
    display: block !important;
  }
}
